body{
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  min-width: 100vw;
  min-height: -webkit-fill-available;
  /* min-width: -webkit-fill-available; */
}

html {
  height: -webkit-fill-available;
  /* min-width: -webkit-fill-available; */

}


.App {
  background-color: aquamarine;
}


.Play{
  width: 100vw;
  height: -webkit-fill-available;
  font-size: 2em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  text-align: center;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90vw;
}

.box {
  background-color: azure;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

p {
  margin: 50px 0 100px 0;
}



